@model BuildWeek_Gruppo3_Clinica.Models.Anagr_Animale

@{
    ViewBag.Title = "Delete";
}



<div class=" container gBorder p-5 mx-auto mb-5">
    <h3 class="ms-5 fs-2">Sei sicuro di eliminare questo elemento?<i class="fa-solid fa-eraser"></i></h3>
    <div class="ms-5">
        <h4>Dettagli elemento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tipologia.Animale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipologia.Animale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Colore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Colore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataNascita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NrMicrochip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NrMicrochip)
            </dd>

            @if (Model.Proprietario == true)
            {

            <dt>
                @Html.DisplayNameFor(model => model.NomeProprietario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeProprietario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Indirizzo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contatto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contatto)
            </dd>

            }

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color mb-5">
                <input type="submit" value="Elimina" class="button bg-danger py-1 me-2" />
                @Html.ActionLink("Annulla", "Index", new { id = Model.IdAnimale }, new { @class = "button bgprimary py-2" })
            </div>
        }
    </div>
</div>
