@model IEnumerable<BuildWeek_Gruppo3_Clinica.Models.Anagr_Animale>

@{
    ViewBag.Title = "Index";
}
<div class="container gBorder p-4 mb-5">
<h2>Cartelle pazienti</h2>

<p class="createPaziente mb-4">
    @Html.ActionLink("Aggiungi un nuovo paziente", "Create", new { @class = "button bgsecondary" })
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipologia.Razza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrMicrochip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProprietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contatto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipologia.Animale)  @Html.DisplayFor(modelItem => item.Tipologia.Razza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrMicrochip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProprietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contatto)
        </td>
        <td>
            @if(item.Foto == null)
            {
               <p></p>
            }
            else
            {
               <img src="/Content/Assets/img/@Html.DisplayFor(modelItem => item.Foto)" width="30" class="img-scale"/>
            }

        </td>
        <td>
            @Html.ActionLink("Storia Medica", "Index", "Visite", new { id = item.IdAnimale }, new {@class="button bgsecondary" }) 
            @Html.ActionLink("Modifica", "Edit", new { id = item.IdAnimale }, new { @class = "button bgsecondary" }) 
            @Html.ActionLink("Cancella", "Delete", new { id = item.IdAnimale }, new { @class = "button bgsecondary" })
        </td>
    </tr>
}

</table>
</div>
