@model IEnumerable<BuildWeek_Gruppo3_Clinica.Models.Visite>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid ">
    <div class="row d-flex">
        <div class="col">
            @{
                Html.RenderAction("PartialViewSingleAnimal");
            }
        </div>
        <div class="col">
            <h2>Visite</h2>
            <div class="">
                @if (User.Identity.IsAuthenticated)
                { 
                <p class="link">
                    @Html.ActionLink("Aggiungi Visita", "Create", new { id = ViewBag.id })
                    <i class="fa-solid fa-plus link"></i>
                </p>
                 }
                
                
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Anagr_Animale.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Referto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnosi)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anagr_Animale.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Referto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnosi)
                            </td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td>
                                    @Html.ActionLink("Modifica Visita", "Edit", new { id = item.IdVisita }, new { @class = "button bgsecondary" })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.IdVisita }) |*@
                                    @Html.ActionLink("Cancella", "Delete", new { id = item.IdVisita }, new { @class = "button bgsecondary" })
                                </td>
                            }
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>