@model BuildWeek_Gruppo3_Clinica.Models.Tipologia

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Animale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Animale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Razza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Razza)
            </dd>

        </dl>


    </div>
    <div class="modal-footer">
        <button type="button" class="button bgprimary" data-bs-dismiss="modal">Annulla</button>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Elimina" class="button bg-danger" /> 
            </div>
        }
    </div>
