@model BuildWeek_Gruppo3_Clinica.Models.Tipologia

@{
    ViewBag.Title = "Delete";
}




<div class=" container gBorder p-5 mx-auto mb-5">
    <h3 class="ms-5 fs-2">Sei sicuro di eliminare questo elemento?<i class="fa-solid fa-eraser"></i></h3>
    <div class="ms-5">
        <h4>Dettagli tipologia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Animale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Animale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Razza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Razza)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color mb-5">
                <input type="submit" value="Elimina" class="button bg-danger py-1 me-2" />
                @Html.ActionLink("Annulla", "Index", new { id = Model.idTipo }, new { @class = "button bgprimary py-2" })
            </div>
        }
    </div>
</div>