@model BuildWeek_Gruppo3_Clinica.Models.Tipologia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
