@model IEnumerable<BuildWeek_Gruppo3_Clinica.Models.Tipologia>

@{
    ViewBag.Title = "Index";
}
<div class="container gBorder p-4 mb-5">
    <h2>Tipologie animali</h2>

    <p class="createPaziente mb-4">
        @Html.ActionLink("Nuova tipologia animale", "Create")
        <i class="fa-solid fa-plus link"></i>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razza)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Animale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razza)
                </td>
                <td>
                    <div class="d-flex align-items-baseline h-100">
                        @Html.ActionLink("Modifica", "Edit", new { id = item.idTipo }, new { @class = "button bgsecondary pad" })
                       
                            @Html.ActionLink("Elimina", "Delete", new { id = item.idTipo }, new { @class = "button bgsecondary pad ms-3" })
                 
                    </div>
                </td>

            </tr>

    }
    </table>

    </div>





        @*<script type="text/javascript">
            $(document).ready(function () {
                $(".ModalDelete").click(function (e) {

                    e.preventDefault();
                    $(this).attr("data-bs-target", "#ModalTipo");
                    $(this).attr("data-bs-toggle", "modal");
                });

                $("body").on("click", ".btn-close", function () {
                    $("#ModalTipo").modal("hide");
                });

                $("#ModalTipo").on("hidden.bs.modal", function () {
                    $(this).removeData("bs.modal");
                });
            });
        </script>*@
